In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("COLUMBIA_CAPSTONE_CLV.csv")
data.head()

,customer_id,calendar_year,calendar_month,product_category,latest_transaction_date,num_transactions,total_spend,marriott_revenue
0,3739303434323531,2019,11,Hotel Other,2019-11-05,2,40.95,1.44
1,3830323235373536,2014,11,Hotel Other,2014-11-28,2,0.00,0.00
2,3736393638313136,2019,6,Hotel F&B,2019-06-18,2,152.73,6.66
3,3733393339353733,2010,2,Hotel Other,2010-02-08,2,103.50,4.26
4,3734313235383637,2007,9,Hotel Other,2007-09-29,5,261.65,10.33

'c:\\Users\\witne\\Desktop\\APAN5900_Capstone'